@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

body {
  font-family: system-ui, sans-serif;
  background-color: #feffec;
}

.error {
  color: red;
  font-size: 13px;
  margin-top: -8px;
  margin-bottom: 12px;
  text-align: left;
}
